header {
    padding-top: 2rem;
    display: flex;
    & img {
        margin: auto;
        margin-bottom: 1rem;
    }
    .fa-arrow-left {
        font-size: 1.5rem;
        margin-left: 35px;
        color: black;
    }
}